<%= simple_form_for @lyric, html: {multipart:true} do |f| %>

<%= f.error_notification %>

 <%= f.input :title, label: "Title" %>


   <%= f.input :artist, label: "Artist" %>


  <%= f.input :song, label: "Song" %>

  <%= f.input :link, label: "Link", hint: "Link to Track" %>

  <%= f.input :verse, label: "Verse" %>

  <%= f.input :audiolink, label: "Audiolink" %>

   <%= f.simple_fields_for :lines do |line| %>

 	  <%= render 'line_fields', f: line %>

 	<% end %>

 	<%= link_to_add_association 'Add Line', f, :lines %>

 	  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, ["Draft", "Published", "Scheduled"], selected: status_for(@lyric) %>
  </div>

 	  <div class="field published-field">
    <%= f.label :published_at, "Publish At" %><br>
    <%= f.datetime_select :published_at %>
  </div>


<%= f.button :submit, "Submit", class: "post-button" %>

<% end %>