

	<div id="<%= lyric.id %>" class="centerpage <%= lyric.id %>">
		<div class="headerright2"><%= lyric.published_at.strftime("%a. %b %d, %Y") %></div>

	 <div class="versepage <%= lyric.id %>"><%= simple_format(lyric.verse) %>

	 	<div class="infopage <%= lyric.id %> nodisplay">
	 		<%= lyric.artist %></br>
	 		<%= lyric.song %></br>
	 		<%= lyric.title %></br>
	 		
	 		<span data-toggle="tooltip" data-placement="top" title="Curator"><%= link_to lyric.curator, lyric.link, :target => '_blank' %></span>


	 	</div>
	 	<div>

	 	<div class="audiopage <%= lyric.id %>"><%= raw(lyric.audiolink) %></div>

		</div>

	 	<div class="songbutton <%= lyric.id %>">
	 	<%= link_to lyrics_path(:anchor => lyric.id) do %>
	 	<i class="fa fa-play-circle-o"></i>
	 	<% end %>
	 	</div>

	 </div>



	</div>

  			<script>
				$('.songbutton' + '.<%= lyric.id %>').click(function(){
					$('.audiopage' + '.<%= lyric.id %>').addClass('growdiv');
					$('.infopage' + '.<%= lyric.id %>').removeClass('nodisplay');
					$(this).addClass('nodisplay');
				});

				$(function () {
					  $('[data-toggle="tooltip"]').tooltip()
				})

				$('.songbutton' + '.<%= lyric.id %>').click(function( event ) {
				  event.preventDefault();
				});
			</script>


  		

	