<div class="backgroundpage">
	<div class="headerpage">
		<div class="headerleft"><%= image_tag 'dailylyric-logo2.png', :class => "headerimage" %></div>

	</div>

	<div class="overlay nodisplay"></div>

	<div id="sitemenu-icon">
	<span class="line1"></span>
	<span class="line3"></span>
</div>

	<div id="wrapperform">
	<div id="hiddenform" class="">

		<%= render 'contacts/new' %>
			
	</div>
</div>
<div id="wrapperform2">
	<div id="hiddenform2" class="">
		<script src="https://gumroad.com/js/gumroad-embed.js"></script>
		<div class="gumroad-product-embed" data-gumroad-product-id="dailylyric" data-outbound-embed="true"><a href="https://gumroad.com/l/dailylyric">Loading...</a></div>

		</div>
	</div>

<div id="wrapperform3">
	<div id="hiddenform3" class="">
		<div class="curatorbox">
			Help DailyLyric.com mission to spread dope music.  Become a curator for a week.  This site is run by the help of dope people who keep up with dope music.  Submit your info and we will provide more detail.
		</div>

		<%= render 'contacts/new' %>

		</div>
	</div>

<div id="wrapperform4">
	<div id="hiddenform4" class="">
		<div id="adpopup1" class="adbox nodisplay">
			<div class="adinfo">Currently listening to Jay Rock's 90059 album and Jeezy's Church in the Streets.  Check out our clothing brand inspired by music.

				<div class='adlink'><a target='_blank' href="http://www.rhymesanddesigns.com">GO</a></div>
			</div>

			<%= image_tag 'rndhat.png', :class => "adimage" %>

		</div>

		<div id="adpopup2" class="adbox nodisplay">
			<div class="adinfo">One of my favorite tracks is Spaceship by Kanye.  Need to launch a website, hit me up.

				<div class='adlink'><a target='_blank' href="http://ccevans.com">GO</a></div>
			</div>

			<%= image_tag 'spaceship2.png', :class => "adimage" %>

		</div>

		<div id="adpopup3" class="adbox nodisplay">
			<div class="adinfo">Currently listening to Jay Rock 90059 album.  We think it is one of the best albums of the year.  TDE blessed us with two dope tracks this year.  Check out our clothing brand inspired by music.

				<div class='adlink'><a target='_blank' href="http://www.rhymesanddesigns.com">GO</a></div>
			</div>

			<%= image_tag 'rndhat.png', :class => "adimage" %>

		</div>

		<div id="adpopup4" class="adbox nodisplay">
			<div class="adinfo">Get your official dailylyric.com coffee mug today.  Each day should be started with dope music.

				<div class='adlink'><a target='_blank' href="http://www.rhymesanddesigns.com">GO</a></div>
			</div>

			<%= image_tag 'dailylyricmug.png', :class => "adimage" %>

		</div>
		<div id="adpopup5" class="adbox nodisplay">
			<div class="adinfo">Support our mission to spread dope music and cop your dailylyric.com cap.  The first one comes in red and will be limited to the early adopters.

				<div class='adlink'><a target='_blank' href="http://www.rhymesanddesigns.com">GO</a></div>
			</div>

			<%= image_tag 'dailylyrichat.png', :class => "adimage" %>

		</div>

		</div>
	</div>

	<div class="rightmenu">
		<ul>
			<li id="partnernow">Partner With Us</li>
			<li id="beacurator">Be A Curator</li>
			<li id="dailyemail">Join Email</li>
			<li><%= link_to 'Instagram', 'http://www.instagram.com/dailylyriccom', :target => '_blank' %></li>
			<li class="curatorlist"><%= link_to 'http://twitter.com/opportreneur', :target => '_blank' do %>Weekly Curator: </br>CC Evans <% end %></li>

		</ul>

		<div class="ccevanslogo">
			<%= link_to 'http://ccevans.com', :target => '_blank' do %>
			<%= image_tag 'ccevans-experience.png', :class => "headerimage" %>
			<% end %>
		</div>
	</div>

	<div class="footerpage">
		<ul>
			<li><a id="popup1" class="pop" data-placement="top" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<div>Currently listening to Jay Rock's 90059 album and Jeezy's Church in the Streets.  Check out our clothing brand inspired by music. #ThatRnD</div> <img src='/assets/rndhat.png'>"><%= image_tag 'rndhat.png', :class => "footerimage" %></a></li>
			
			<li><a id="popup2" class="pop" data-placement="top" role="button" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<div>One of my favorite tracks is Spaceship by Kanye.  Need to launch a website, hit me up.  I built this one and other dope ones. ccevans.com</div> <img src='/assets/spaceship2.png'>"><%= image_tag 'spaceship2.png', :class => "footerimage" %></a></li>

			<li><a id="partnernow2" class="pop" data-placement="top" role="button" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<div>Put your product, service or brand here.</div> <img src='/assets/dailylyric-partnership.png'>"><%= image_tag 'button.png', :class => "footerimage" %></a></li>

			<li><a id="popup4" class="pop" data-placement="top" role="button" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<div>Get your official dailylyric.com coffee mug today.  Each day should be started with dope music.</div> <img src='/assets/dailylyricmug.png'>"><%= image_tag 'dailylyricmug.png', :class => "footerimage" %></a></li>

			<li><a id="popup5" class="pop" data-placement="top" role="button" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<div>Support our mission to spread dope music and cop your dailylyric.com cap.  The first one comes in red and will be limited to the early adopters.</div> <img src='/assets/dailylyrichat.png'>"><%= image_tag 'dailylyrichat.png', :class => "footerimage" %></a></li>
		</ul>
</div>


	<div id="plusbutton">
		<span class="fa-stack fa-lg">
		  <i class="fa fa-circle-thin fa-stack-2x"></i>
		  <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
		</span>
	</div>

<div class="backgroundcolor gradient">

<div id="my-lyrics">
<% if @lyrics.any? %>

  		<%= render @lyrics %>

<% end %>
	</div>



<div id="infinite-scrolling">
  <%= will_paginate @lyrics %>
</div>



</div>


</div>

<script>
	$('#plusbutton').click(function(){
		$('.rightmenu').addClass('revealed');
		$('.overlay').removeClass('nodisplay');
		$('body').addClass("noscroll");
		$("#hiddenform").removeClass("active");
		$("#wrapperform").removeClass("active");
		$("#hiddenform2").removeClass("active");
		$("#wrapperform2").removeClass("active");
		$("#hiddenform3").removeClass("active");
		$("#wrapperform3").removeClass("active");
		$("#hiddenform4").removeClass("active");
		$("#wrapperform4").removeClass("active");
		$("#sitemenu-icon").removeClass("open");
		$("#sitemenu-icon").removeClass("active");
	});
	$('.overlay').click(function(){
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
		$('body').removeClass("noscroll");
		$("#hiddenform").removeClass("active");
		$("#wrapperform").removeClass("active");
		$("#hiddenform2").removeClass("active");
		$("#wrapperform2").removeClass("active");
		$("#hiddenform3").removeClass("active");
		$("#wrapperform3").removeClass("active");
		$("#hiddenform4").removeClass("active");
		$("#wrapperform4").removeClass("active");
		$("#sitemenu-icon").removeClass("open");
		$("#sitemenu-icon").removeClass("active");
	});
	$("#dailyemail").click(function(){
		$("#hiddenform").addClass("active");
		$("#wrapperform").addClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$("#beacurator").click(function(){
		$("#hiddenform3").addClass("active");
		$("#wrapperform3").addClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$("#partnernow").click(function(){
		$("#hiddenform2").addClass("active");
		$("#wrapperform2").addClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$("#partnernow2").click(function(){
		$("#hiddenform2").addClass("active");
		$("#wrapperform2").addClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$("#sitemenu-icon").click(function(){
		$("#hiddenform").removeClass("active");
		$("#wrapperform").removeClass("active");
		$("#hiddenform2").removeClass("active");
		$("#wrapperform2").removeClass("active");
		$("#hiddenform3").removeClass("active");
		$("#wrapperform3").removeClass("active");
		$("#hiddenform4").removeClass("active");
		$("#wrapperform4").removeClass("active");
		$("#sitemenu-icon").removeClass("open");
		$("#sitemenu-icon").removeClass("active");
		$('body').removeClass("noscroll");
	});
	$("#popup1").click(function(){
		$("#adpopup1").removeClass("nodisplay");
		$("#adpopup2").addClass("nodisplay");
		$("#adpopup3").addClass("nodisplay");
		$("#adpopup4").addClass("nodisplay");
		$("#adpopup5").addClass("nodisplay");
		$("#hiddenform4").addClass("active");
		$("#wrapperform4").addClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$("#popup2").click(function(){
		$("#adpopup2").removeClass("nodisplay");
		$("#adpopup1").addClass("nodisplay");
		$("#adpopup3").addClass("nodisplay");
		$("#adpopup4").addClass("nodisplay");
		$("#adpopup5").addClass("nodisplay");
		$("#hiddenform4").addClass("active");
		$("#wrapperform4").addClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$("#popup3").click(function(){
		$("#adpopup3").removeClass("nodisplay");
		$("#adpopup2").addClass("nodisplay");
		$("#adpopup1").addClass("nodisplay");
		$("#adpopup4").addClass("nodisplay");
		$("#adpopup5").addClass("nodisplay");
		$("#hiddenform4").addClass("active");
		$("#wrapperform4").addClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$("#popup4").click(function(){
		$("#adpopup4").removeClass("nodisplay");
		$("#adpopup2").addClass("nodisplay");
		$("#adpopup3").addClass("nodisplay");
		$("#adpopup1").addClass("nodisplay");
		$("#adpopup5").addClass("nodisplay");
		$("#hiddenform4").addClass("active");
		$("#wrapperform4").addClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$("#popup5").click(function(){
		$("#adpopup5").removeClass("nodisplay");
		$("#adpopup2").addClass("nodisplay");
		$("#adpopup3").addClass("nodisplay");
		$("#adpopup4").addClass("nodisplay");
		$("#adpopup1").addClass("nodisplay");
		$("#hiddenform4").addClass("active");
		$("#wrapperform4").addClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$('.backgroundcolor').click(function(){
		
		console.log(55);
	});


	$(document).ready(function () {
	    $('.pop').each(function () {
	        var $elem = $(this);
	        $elem.popover({
	            placement: 'top',
	            trigger: 'hover',
	            html: true,
	            container: $elem,
	            animation: true,
	        });
	    });
	});

</script>


