<div class="backgroundpage">
	<div class="headerpage">
		<div id="headerbutton" class="headerleft"><%= image_tag 'dailylyric-logo2.png', :class => "headerimage" %></div>

	</div>

	<div class="overlay nodisplay"></div>

	<div id="sitemenu-icon">
	<span class="line1"></span>
	<span class="line3"></span>
</div>

	<div id="wrapperform">
	<div id="hiddenform" class="">

		<%= render 'contacts/new' %>
			
	</div>
</div>
<div id="wrapperform2">
	<div id="hiddenform2" class="">
		<script src="https://gumroad.com/js/gumroad-embed.js"></script>
		<div class="gumroad-product-embed" data-gumroad-product-id="dailylyric" data-outbound-embed="true"><a href="https://gumroad.com/l/dailylyric">Loading...</a></div>

		</div>
	</div>

<div id="wrapperform3">
	<div id="hiddenform3" class="">
		<div class="curatorbox">
			Help DailyLyric.com mission to spread dope music.  Become a curator for a week.  This site is run by the help of dope people who keep up with dope music.  Submit your info and we will provide more detail.
		</div>

		<%= render 'contacts/new' %>

		</div>
	</div>

<div id="wrapperform4">
	<div id="hiddenform4" class="">
		<div id="adpopup1" class="adbox nodisplay">
			<div class="adinfo">Currently listening to Jay Rock's 90059 album and Jeezy's Church in the Streets.  Check out our clothing brand inspired by music.

				<div class='adlink'><a target='_blank' href="http://www.rhymesanddesigns.com">GO</a></div>
			</div>

			<%= image_tag 'rndhat.png', :class => "adimage" %>

		</div>

		<div id="adpopup2" class="adbox nodisplay">
			<div class="adinfo">One of my favorite tracks is Spaceship by Kanye.  Need to launch a website, hit me up.  I built this one and some other dope ones.

				<div class='adlink'><a target='_blank' href="http://www.ccevans.com/pages/webdesign">GO</a></div>
			</div>

			<%= image_tag 'spaceship2.png', :class => "adimage" %>

		</div>

		<div id="adpopup3" class="adbox nodisplay">
			<div class="adinfo">add content here

				<div class='adlink'><a target='_blank' href="http://www.rhymesanddesigns.com">GO</a></div>
			</div>

			<%= image_tag 'rndhat.png', :class => "adimage" %>

		</div>

		<div id="adpopup4" class="adbox nodisplay">
			<div class="adinfo">Get your official dailylyric.com coffee mug today.  Each day should be started with dope music.  Only $22 with free shipping in the US.

				<div class='adlink2'>
					<script src="https://gumroad.com/js/gumroad.js"></script>
					<a target="_blank" class="gumroad-button" href="https://gum.co/dailylyricmug?wanted=true">Buy</a>
				</div>
				</div>

			<%= image_tag 'dailylyricmug.png', :class => "adimage" %>

		</div>
		<div id="adpopup5" class="adbox nodisplay">
			<div class="adinfo">Support our mission to spread dope music and cop your dailylyric.com cap.  The first one comes in red and will be limited to the early adopters.  Only $30 with free shipping in the US.

				<div class='adlink2'>
					<script src="https://gumroad.com/js/gumroad.js"></script>
					<a target="_blank" class="gumroad-button" href="https://gum.co/dailylyriccap?wanted=true">Buy</a>
				</div>
			</div>

			<%= image_tag 'dailylyrichat.png', :class => "adimage" %>

		</div>

		</div>
	</div>

	<div id="wrapperform5">
	<div id="hiddenform5" class="">
		<div id="aboutinfo" class="infobox">
			<%= image_tag 'dailylyric-logosmall2.png', :class => "aboutimage" %>
			DailyLyric.com was built because I got tired of going to terrible hiphop blog sites.  They are so annoying with the ads popping up every second, click bait headlines, gossip and only showing love to artists who help their pockets.  There are some blogs that I do love and hoping to partner with them in the future.  The mission of DailyLyric.com is to spread dope music.  Each week we invite curators of different backgrounds and demographics to share the hiphop music they are listening to.  Right now the plan is to post one track a day.  Thanks for stopping by.
		</div>

		<div id="curatorinfo" class="infobox">
			<h1>This Week Curator</h1>
			<h3>CC Evans</h3>
			<h4>Charlotte, NC</h4>
			<p>
			Still listening to Dave East and Jeezy's recent projects.  Huge J.Cole and Kanye West fan.  Love the work from many artists in Charlotte like Elevator Jay, Deniro Farrar, and Lute to name a few.  Hoping Frank Ocean drop his next album soon and looking forward to seeing what Drake does with his next album.  Lupe's Tetsuo and Youth is probably my favorite project that dropped this year.
			</p>

			<%= link_to 'http://twitter.com/opportreneur', :target => '_blank' do %>@opportreneur <% end %>
		</div>



		</div>
	</div>

	<div class="rightmenu">
		<ul>
			<li id="partnernow">Partner With Us</li>
			<li id="beacurator">Be A Curator</li>
			<li id="dailyemail">Join Email</li>
			<li><%= link_to 'Instagram', 'http://www.instagram.com/dailylyriccom', :target => '_blank' %></li>
			<li id="curatorbutton" class="curatorlist">Weekly Curator: </br>CC Evans</li>

		</ul>

		<div class="ccevanslogo">
			<%= link_to 'http://ccevans.com', :target => '_blank' do %>
			<%= image_tag 'itsaspaceship.png', :class => "headerimage" %>
			<% end %>
		</div>
	</div>

	<div class="footerpage">
		<ul>
			<li><a id="popup1" class="pop"><%= image_tag 'rndhat.png', :class => "footerimage" %></a></li>
			
			<li><a id="popup2" class="pop"><%= image_tag 'spaceship2.png', :class => "footerimage" %></a></li>

			<li><a id="partnernow2" class="pop"><%= image_tag 'button.png', :class => "footerimage" %></a></li>

			<li><a id="popup4" class="pop"><%= image_tag 'dailylyricmug.png', :class => "footerimage" %></a></li>

			<li><a id="popup5" class="pop"><%= image_tag 'dailylyrichat.png', :class => "footerimage" %></a></li>
		</ul>
</div>


	<div id="plusbutton">
		<span class="fa-stack fa-lg">
		  <i class="fa fa-circle-thin fa-stack-2x"></i>
		  <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
		</span>
	</div>

<div class="backgroundcolor gradient">

<div id="my-lyrics">
<% if @lyrics.any? %>

  		<%= render @lyrics %>

<% end %>
	</div>



<div id="infinite-scrolling">
  <%= will_paginate @lyrics %>
</div>



</div>


</div>

<script>
	$('#plusbutton').click(function(){
		$('.rightmenu').addClass('revealed');
		$('.overlay').removeClass('nodisplay');
		$('body').addClass("noscroll");
		$("#hiddenform").removeClass("active");
		$("#wrapperform").removeClass("active");
		$("#hiddenform2").removeClass("active");
		$("#wrapperform2").removeClass("active");
		$("#hiddenform3").removeClass("active");
		$("#wrapperform3").removeClass("active");
		$("#hiddenform4").removeClass("active");
		$("#wrapperform4").removeClass("active");
		$("#hiddenform5").removeClass("active");
		$("#wrapperform5").removeClass("active");
		$("#sitemenu-icon").removeClass("open");
		$("#sitemenu-icon").removeClass("active");
	});
	$('.overlay').click(function(){
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
		$('body').removeClass("noscroll");
		$("#hiddenform").removeClass("active");
		$("#wrapperform").removeClass("active");
		$("#hiddenform2").removeClass("active");
		$("#wrapperform2").removeClass("active");
		$("#hiddenform3").removeClass("active");
		$("#wrapperform3").removeClass("active");
		$("#hiddenform4").removeClass("active");
		$("#wrapperform4").removeClass("active");
		$("#hiddenform5").removeClass("active");
		$("#wrapperform5").removeClass("active");
		$("#sitemenu-icon").removeClass("open");
		$("#sitemenu-icon").removeClass("active");
	});
	$("#dailyemail").click(function(){
		$("#hiddenform").addClass("active");
		$("#wrapperform").addClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$("#beacurator").click(function(){
		$("#hiddenform3").addClass("active");
		$("#wrapperform3").addClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$("#partnernow").click(function(){
		$("#hiddenform2").addClass("active");
		$("#wrapperform2").addClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$("#partnernow2").click(function(){
		$("#hiddenform2").addClass("active");
		$("#wrapperform2").addClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
		console.log("is this working");
	});
	$("#sitemenu-icon").click(function(){
		$("#hiddenform").removeClass("active");
		$("#wrapperform").removeClass("active");
		$("#hiddenform2").removeClass("active");
		$("#wrapperform2").removeClass("active");
		$("#hiddenform3").removeClass("active");
		$("#wrapperform3").removeClass("active");
		$("#hiddenform4").removeClass("active");
		$("#wrapperform4").removeClass("active");
		$("#hiddenform5").removeClass("active");
		$("#wrapperform5").removeClass("active");
		$("#sitemenu-icon").removeClass("open");
		$("#sitemenu-icon").removeClass("active");
		$('body').removeClass("noscroll");
	});
	$("#popup1").click(function(){
		$("#adpopup1").removeClass("nodisplay");
		$("#adpopup2").addClass("nodisplay");
		$("#adpopup3").addClass("nodisplay");
		$("#adpopup4").addClass("nodisplay");
		$("#adpopup5").addClass("nodisplay");
		$("#hiddenform4").addClass("active");
		$("#wrapperform4").addClass("active");
		$("#hiddenform").removeClass("active");
		$("#wrapperform").removeClass("active");
		$("#hiddenform2").removeClass("active");
		$("#wrapperform2").removeClass("active");
		$("#hiddenform3").removeClass("active");
		$("#wrapperform3").removeClass("active");
		$("#hiddenform5").removeClass("active");
		$("#wrapperform5").removeClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$("#popup2").click(function(){
		$("#adpopup2").removeClass("nodisplay");
		$("#adpopup1").addClass("nodisplay");
		$("#adpopup3").addClass("nodisplay");
		$("#adpopup4").addClass("nodisplay");
		$("#adpopup5").addClass("nodisplay");
		$("#hiddenform4").addClass("active");
		$("#wrapperform4").addClass("active");
		$("#hiddenform").removeClass("active");
		$("#wrapperform").removeClass("active");
		$("#hiddenform2").removeClass("active");
		$("#wrapperform2").removeClass("active");
		$("#hiddenform3").removeClass("active");
		$("#wrapperform3").removeClass("active");
		$("#hiddenform5").removeClass("active");
		$("#wrapperform5").removeClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$("#popup3").click(function(){
		$("#adpopup3").removeClass("nodisplay");
		$("#adpopup2").addClass("nodisplay");
		$("#adpopup1").addClass("nodisplay");
		$("#adpopup4").addClass("nodisplay");
		$("#adpopup5").addClass("nodisplay");
		$("#hiddenform4").addClass("active");
		$("#wrapperform4").addClass("active");
		$("#hiddenform").removeClass("active");
		$("#wrapperform").removeClass("active");
		$("#hiddenform2").removeClass("active");
		$("#wrapperform2").removeClass("active");
		$("#hiddenform3").removeClass("active");
		$("#wrapperform3").removeClass("active");
		$("#hiddenform5").removeClass("active");
		$("#wrapperform5").removeClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$("#popup4").click(function(){
		$("#adpopup4").removeClass("nodisplay");
		$("#adpopup2").addClass("nodisplay");
		$("#adpopup3").addClass("nodisplay");
		$("#adpopup1").addClass("nodisplay");
		$("#adpopup5").addClass("nodisplay");
		$("#hiddenform4").addClass("active");
		$("#wrapperform4").addClass("active");
		$("#hiddenform").removeClass("active");
		$("#wrapperform").removeClass("active");
		$("#hiddenform2").removeClass("active");
		$("#wrapperform2").removeClass("active");
		$("#hiddenform3").removeClass("active");
		$("#wrapperform3").removeClass("active");
		$("#hiddenform5").removeClass("active");
		$("#wrapperform5").removeClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$("#popup5").click(function(){
		$("#adpopup5").removeClass("nodisplay");
		$("#adpopup2").addClass("nodisplay");
		$("#adpopup3").addClass("nodisplay");
		$("#adpopup4").addClass("nodisplay");
		$("#adpopup1").addClass("nodisplay");
		$("#hiddenform4").addClass("active");
		$("#wrapperform4").addClass("active");
		$("#hiddenform").removeClass("active");
		$("#wrapperform").removeClass("active");
		$("#hiddenform2").removeClass("active");
		$("#wrapperform2").removeClass("active");
		$("#hiddenform3").removeClass("active");
		$("#wrapperform3").removeClass("active");
		$("#hiddenform5").removeClass("active");
		$("#wrapperform5").removeClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$("#headerbutton").click(function(){
		$("#aboutinfo").removeClass("nodisplay");
		$("#curatorinfo").addClass("nodisplay");
		$("#hiddenform5").addClass("active");
		$("#wrapperform5").addClass("active");
		$("#hiddenform").removeClass("active");
		$("#wrapperform").removeClass("active");
		$("#hiddenform2").removeClass("active");
		$("#wrapperform2").removeClass("active");
		$("#hiddenform3").removeClass("active");
		$("#wrapperform3").removeClass("active");
		$("#hiddenform4").removeClass("active");
		$("#wrapperform4").removeClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$("#curatorbutton").click(function(){
		$("#aboutinfo").addClass("nodisplay");
		$("#curatorinfo").removeClass("nodisplay");
		$("#hiddenform5").addClass("active");
		$("#wrapperform5").addClass("active");
		$("#hiddenform").removeClass("active");
		$("#wrapperform").removeClass("active");
		$("#hiddenform2").removeClass("active");
		$("#wrapperform2").removeClass("active");
		$("#hiddenform3").removeClass("active");
		$("#wrapperform3").removeClass("active");
		$("#hiddenform4").removeClass("active");
		$("#wrapperform4").removeClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	
	$('.backgroundcolor').click(function(){
		
		console.log(55);
	});


	$(document).ready(function () {
	    $('.pop').each(function () {
	        var $elem = $(this);
	        $elem.popover({
	            placement: 'top',
	            trigger: 'hover',
	            html: true,
	            container: $elem,
	            animation: true,
	        });
	    });
	});

</script>


