<div class="backgroundpage">
	<div class="headerpage">
		<div class="headerleft"><%= image_tag 'dailylyric-logo2.png', :class => "headerimage" %></div>

	</div>

	<div class="overlay nodisplay"></div>

	<div id="sitemenu-icon">
	<span class="line1"></span>
	<span class="line3"></span>
</div>

	<div id="wrapperform">
	<div id="hiddenform" class="">

		<%= render 'contacts/new' %>
			
	</div>
</div>
<div id="wrapperform2">
	<div id="hiddenform2" class="">
		<script src="https://gumroad.com/js/gumroad-embed.js"></script>
		<div class="gumroad-product-embed" data-gumroad-product-id="dailylyric" data-outbound-embed="true"><a href="https://gumroad.com/l/dailylyric">Loading...</a></div>

		</div>
	</div>

<div id="wrapperform3">
	<div id="hiddenform3" class="">
		<div class="curatorbox">
			Help DailyLyric.com mission to spread dope music.  Become a curator for a week.  This site is run by the help of dope people who keep up with dope music.  Submit your info and we will provide more detail.
		</div>

		<%= render 'contacts/new' %>

		</div>
	</div>

	<div class="rightmenu">
		<ul>
			<li id="partnernow">Partner With Us</li>
			<li id="beacurator">Be A Curator</li>
			<li id="dailyemail">Join Email</li>
			<li><%= link_to 'Instagram', 'http://www.instagram.com/dailylyriccom', :target => '_blank' %></li>
			<li class="curatorlist">Weekly Curator: </br>CC Evans</li>
			<li class="curatorlist"><a class="pop" data-placement="top" role="button" data-toggle="popover" data-trigger="click hover" data-html="true" data-content="Currently living in Charlotte, where I enjoy work from Deniro Farrar, Elevator Jay, Lute and many more.  Still listening to Dave East and Jezzy recent projects.">Weekly Curator: </br> CC Evans</a></li>
		</ul>
	</div>

	<div class="footerpage">
		<ul>
			<li><a class="pop" data-placement="top" role="button" data-toggle="popover" data-trigger="click hover" data-html="true" data-content="Currently listening to Jay Rock 90059 album.  We think it is one of the best albums of the year.  TDE blessed us with two dope tracks this year.  Check out our clothing brand inspired by music."><%= image_tag 'rndhat.png', :id => "adlogo1", :class => "footerimage" %></a></li>
			
			<li><a class="pop" data-placement="top" role="button" data-toggle="popover" data-trigger="click hover" data-html="true" data-content="<div>One of my favorite tracks is Spaceship by Kanye.  Need to launch a website, hit me up.</div><div class='adlink'><a href=www.rhymesanddesigns.com>GO</a></div>"><%= image_tag 'spaceship2.png', :class => "footerimage" %></a></li>

			<li><a class="pop" data-placement="top" role="button" data-toggle="popover" data-trigger="click hover" data-html="true" data-content="<div>One of my favorite tracks is Spaceship by Kanye.  Need to launch a website, hit me up.</div><div class='adlink'><a href=www.rhymesanddesigns.com>GO</a></div>"><%= image_tag 'rndhatred.png', :class => "footerimage" %></a></li>

			<li><a class="pop" data-placement="top" role="button" data-toggle="popover" data-trigger="click hover" data-html="true" data-content="<div>Put your product or service here.</div> <img src='/assets/dailylyricmug.png'><div class='adlink'><a href=www.rhymesanddesigns.com>GO</a></div>"><%= image_tag 'dailylyricmug.png', :class => "footerimage" %></a></li>

			<li><a class="pop" data-placement="top" role="button" data-toggle="popover" data-trigger="click hover" data-html="true" data-content="<div>Put your product or service here.</div> <img src='/assets/dailylyrichat.png'><div class='adlink'><a href=www.rhymesanddesigns.com>GO</a></div>"><%= image_tag 'dailylyrichat.png', :class => "footerimage" %></a></li>
		</ul>
</div>


	<div id="plusbutton">
		<span class="fa-stack fa-lg">
		  <i class="fa fa-circle-thin fa-stack-2x"></i>
		  <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
		</span>
	</div>

<div class="backgroundcolor gradient">

<div id="my-lyrics">
<% if @lyrics.any? %>

  		<%= render @lyrics %>

<% end %>
	</div>



<div id="infinite-scrolling">
  <%= will_paginate @lyrics %>
</div>



</div>


</div>

<script>
	$('#plusbutton').click(function(){
		$('.rightmenu').addClass('revealed');
		$('.overlay').removeClass('nodisplay');
		$('body').addClass("noscroll");
		$("#hiddenform").removeClass("active");
		$("#wrapperform").removeClass("active");
		$("#hiddenform2").removeClass("active");
		$("#wrapperform2").removeClass("active");
		$("#hiddenform3").removeClass("active");
		$("#wrapperform3").removeClass("active");
		$("#sitemenu-icon").removeClass("open");
		$("#sitemenu-icon").removeClass("active");
	});
	$('.overlay').click(function(){
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
		$('body').removeClass("noscroll");
		$("#hiddenform").removeClass("active");
		$("#wrapperform").removeClass("active");
		$("#hiddenform2").removeClass("active");
		$("#wrapperform2").removeClass("active");
		$("#hiddenform3").removeClass("active");
		$("#wrapperform3").removeClass("active");
		$("#sitemenu-icon").removeClass("open");
		$("#sitemenu-icon").removeClass("active");
	});
	$("#dailyemail").click(function(){
		$("#hiddenform").addClass("active");
		$("#wrapperform").addClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$("#beacurator").click(function(){
		$("#hiddenform3").addClass("active");
		$("#wrapperform3").addClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$("#partnernow").click(function(){
		$("#hiddenform2").addClass("active");
		$("#wrapperform2").addClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$("#sitemenu-icon").click(function(){
		$("#hiddenform").removeClass("active");
		$("#wrapperform").removeClass("active");
		$("#hiddenform2").removeClass("active");
		$("#wrapperform2").removeClass("active");
		$("#hiddenform3").removeClass("active");
		$("#wrapperform3").removeClass("active");
		$("#sitemenu-icon").removeClass("open");
		$("#sitemenu-icon").removeClass("active");
		$('body').removeClass("noscroll");
	});


	$('.backgroundcolor').click(function(){
		
		console.log(55);
	});


	$(document).ready(function () {
	    $('.pop').each(function () {
	        var $elem = $(this);
	        $elem.popover({
	            placement: 'top',
	            trigger: 'hover click',
	            html: true,
	            container: $elem,
	            animation: true,
	        });
	    });
	});



</script>


