<div class="backgroundpage">
	<div class="headerpage">
		<div class="headerleft"><span class="header1">daily</span><span class="header2">lyric.com</span></div>

	</div>

	<div class="overlay nodisplay"></div>

	<div id="sitemenu-icon">
	<span class="line1"></span>
	<span class="line3"></span>
</div>

	<div id="wrapperform">
	<div id="hiddenform" class="">

		<%= render 'contacts/new' %>
			
	</div>
</div>
<div id="wrapperform2">
	<div id="hiddenform2" class="">
		<script src="https://gumroad.com/js/gumroad-embed.js"></script>
		<div class="gumroad-product-embed" data-gumroad-product-id="yQNjO"><a href="https://gumroad.com/l/yQNjO">Loading...</a></div>

		</div>
	</div>

	<div class="rightmenu">
		<ul>
			<li id="partnernow">Partner With Us</li>
			<li id="dailyemail2">Be A Curator</li>
			<li id="dailyemail">Join Email</li>
			<li>Twitter</li>
			<li>Instagram</li>
		</ul>
	</div>

	<div class="footerpage">
		<ul>
			<%= link_to 'https://www.rhymesanddesigns.com' do %>
			<li><span data-toggle="tooltip" data-placement="top" title="Currently listening to Jay Rock 90059 album.  We think it is one of the best albums of the year.  TDE blessed us with two dope tracks this year.  Check out our clothing brand inspired by music."><%= image_tag 'rndhat.png', :id => "adlogo1", :class => "footerimage" %></span></li>
			<% end %>

			
			<li><a data-placement="top" role="button" data-toggle="popover" data-trigger="hover click" data-html="true" title="Rhymes & Designs" data-content="<div>One of my favorite tracks is Spaceship by Kanye.  Need to launch a website, hit me up.</div><div><a href=www.rhymesanddesigns.com>GO</a></div>"><%= image_tag 'spaceship2.png', :class => "footerimage" %></a></li>

			<li><%= image_tag 'rndhatred.png', :class => "footerimage" %></li>
			<li><%= image_tag 'button.png', :class => "footerimage" %></li>
			<li><%= image_tag 'button.png', :class => "footerimage" %></li>
		</ul>


	</div>

	<div id="plusbutton">
		<span class="fa-stack fa-lg">
		  <i class="fa fa-circle-thin fa-stack-2x"></i>
		  <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
		</span>
	</div>

<div class="backgroundcolor gradient">

<div id="my-lyrics">
<% if @lyrics.any? %>

  		<%= render @lyrics %>

<% end %>
	</div>



<div id="infinite-scrolling">
  <%= will_paginate @lyrics %>
</div>



</div>


</div>

<script>
	$('#plusbutton').click(function(){
		$('.rightmenu').addClass('revealed');
		$('.overlay').removeClass('nodisplay');
		$('body').addClass("noscroll");
		$("#hiddenform").removeClass("active");
		$("#wrapperform").removeClass("active");
		$("#hiddenform2").removeClass("active");
		$("#wrapperform2").removeClass("active");
		$("#sitemenu-icon").removeClass("open");
		$("#sitemenu-icon").removeClass("active");
	});
	$('.overlay').click(function(){
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
		$('body').removeClass("noscroll");
		$("#hiddenform").removeClass("active");
		$("#wrapperform").removeClass("active");
		$("#hiddenform2").removeClass("active");
		$("#wrapperform2").removeClass("active");
		$("#sitemenu-icon").removeClass("open");
		$("#sitemenu-icon").removeClass("active");
	});
	$("#dailyemail").click(function(){
		$("#hiddenform").addClass("active");
		$("#wrapperform").addClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$("#partnernow").click(function(){
		$("#hiddenform2").addClass("active");
		$("#wrapperform2").addClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
		$('body').addClass("noscroll");
		$('.rightmenu').removeClass('revealed');
		$('.overlay').addClass('nodisplay');
	});
	$("#sitemenu-icon").click(function(){
		$("#hiddenform").removeClass("active");
		$("#wrapperform").removeClass("active");
		$("#hiddenform2").removeClass("active");
		$("#wrapperform2").removeClass("active");
		$("#sitemenu-icon").removeClass("open");
		$("#sitemenu-icon").removeClass("active");
		$('body').removeClass("noscroll");
	});
	$('.backgroundcolor').click(function(){
		
		console.log(55);
	});

	$(function () {
	  $('[data-toggle="popover"]').popover()
	})


</script>


