<div class="backgroundpage">
	<div class="headerpage">
		<div class="headerleft"><span class="header1">daily</span><span class="header2">lyric.com</span></div>
	</div>

	<div class="overlay nodisplay"></div>

	<div class="rightmenu">
		<ul>
			<li>Past Lyrics</li>
			<li>Submit Track</li>
			<li>Partner With Us</li>
			<li>Wake Up Email</li>
			<li>DL Twitter</li>
			<li>DL Instagram</li>
			<li><%= @xtime %></li>

		</ul>
	</div>

	<div class="footerpage">
		<ul>
			<li><%= image_tag 'logo-rhymes-designs.png', :class => "footerimage" %></li>
			<li><%= image_tag 'logo-rhymes-designs.png', :class => "footerimage" %></li>
			<li><%= image_tag 'logo-rhymes-designs.png', :class => "footerimage" %></li>
			<li><%= image_tag 'logo-rhymes-designs.png', :class => "footerimage" %></li>
			<li><%= image_tag 'logo-rhymes-designs.png', :class => "footerimage" %></li>
		</ul>


	</div>

	<div id="plusbutton">
		<span class="fa-stack fa-lg">
		  <i class="fa fa-circle-thin fa-stack-2x"></i>
		  <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
		</span>
	</div>

<div class="backgroundcolor">


<div id="my-lyrics">


  		<%= render @all_posts %>
</div>


</div>
