<div class="backgroundpage">
	<div class="headerpage">
		<div class="headerleft"><span class="header1">daily</span><span class="header2">lyric.com</span></div>
	</div>

	<div class="overlay nodisplay"></div>

	<div class="rightmenu">
		<ul>
			<li>Past Lyrics</li>
			<li>Submit Track</li>
			<li>Partner With Us</li>
			<li>Wake Up Email</li>
			<li>DL Twitter</li>
			<li>DL Instagram</li>
			<li><%= @xtime %></li>

		</ul>
	</div>

	<div class="footerpage">
		<ul>
			<li><%= image_tag 'logo-rhymes-designs.png', :class => "footerimage" %></li>
			<li><%= image_tag 'logo-rhymes-designs.png', :class => "footerimage" %></li>
			<li><%= image_tag 'logo-rhymes-designs.png', :class => "footerimage" %></li>
			<li><%= image_tag 'logo-rhymes-designs.png', :class => "footerimage" %></li>
			<li><%= image_tag 'logo-rhymes-designs.png', :class => "footerimage" %></li>
		</ul>


	</div>

	<div id="plusbutton">
		<span class="fa-stack fa-lg">
		  <i class="fa fa-circle-thin fa-stack-2x"></i>
		  <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
		</span>
	</div>

<div class="backgroundcolor">

<% if @lyrics.any? %>
<% @lyrics.each do |lyric| %>
	
	<div class="centerpage <%= lyric.id %>">
		<div class="headerright2"><%= lyric.published_at.strftime("%A %B %d, %Y") %></div>

	 <div class="versepage <%= lyric.id %>"><%= simple_format(lyric.verse) %>

	 	<div class="infopage <%= lyric.id %> nodisplay">
	 		<%= lyric.artist %></br>
	 		<%= lyric.song %>


	 	</div>
	 	<div id="<%= lyric.id %>">

	 	<div class="audiopage <%= lyric.id %>"><%= raw(lyric.audiolink) %></div>

		</div>

	 	<div class="songbutton <%= lyric.id %>">
	 	<i class="fa fa-play-circle-o"></i>
	 	</div>

	 </div>

	

	<ul class="">
		<% lyric.lines.each do |line| %>
			<li> <%= line.name %></li>

			<% end %>

	</ul>

	</div>

	<script>
	$('.songbutton' + '.<%= lyric.id %>').click(function(){
		$('.audiopage' + '.<%= lyric.id %>').addClass('growdiv');
		$('.infopage' + '.<%= lyric.id %>').removeClass('nodisplay');
		$(this).addClass('nodisplay');
	});

	//function growDiv() {
	  //  var growDiv = document.getElementById('<%= lyric.id %>');
	    //if (growDiv.clientHeight) {
	//      growDiv.style.height = 0;
	//    } else {
	//      var wrapper = document.getElementsByClassName('audiopage <%= lyric.id %>');
	//      growDiv.style.height = wrapper.clientHeight + "px";
	 //   }
	//}

	</script>



	<% end %>
	<% end %>
</div>


</div>
