<div class="footerpage">
		<ul>
			<li><a id="popup1" class="pop" data-placement="top" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<div>Currently listening to Jay Rock's 90059 album and Jeezy's Church in the Streets.  Check out our clothing brand inspired by music. #ThatRnD</div> <img src='/assets/rndhat.png'>"><%= image_tag 'rndhat.png', :class => "footerimage" %></a></li>
			
			<li><a id="popup2" class="pop" data-placement="top" role="button" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<div>One of my favorite tracks is Spaceship by Kanye.  Need to launch a website, hit me up.  I built this one and some other dope ones.</div> <img src='/assets/spaceship2.png'>"><%= image_tag 'spaceship2.png', :class => "footerimage" %></a></li>

			<li><a id="partnernow2" class="pop" data-placement="top" role="button" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<div>Put your product, service or brand here.</div> <img src='/assets/dailylyric-partnership.png'>"><%= image_tag 'button.png', :class => "footerimage" %></a></li>

			<li><a id="popup4" class="pop" data-placement="top" role="button" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<div>Get your official dailylyric.com coffee mug today.  Each day should be started with dope music.</div> <img src='/assets/dailylyricmug.png'>"><%= image_tag 'dailylyricmug.png', :class => "footerimage" %></a></li>

			<li><a id="popup5" class="pop" data-placement="top" role="button" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<div>Support our mission to spread dope music and cop your dailylyric.com cap.  The first one comes in red and will be limited to the early adopters.</div> <img src='/assets/dailylyrichat.png'>"><%= image_tag 'dailylyrichat.png', :class => "footerimage" %></a></li>
		</ul>
</div>

